:root {
  font-size: 16px;
  font-family: "Open Sans";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --navbar: 5rem;
  --navbar-transition: 15rem;
  --navbar-mobile: 3rem;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
}

section {
  text-align: justify;
}

main {
  padding: 1rem;
}

footer {
  padding: 1rem;
  padding-bottom: var(--navbar-mobile);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.link-text {
  display: none;
  margin-left: 1rem;
  opacity: 0;
}

.nav-link img {
  width: 2.5rem;
}

.navbar {
  position: fixed;
  height: var(--navbar-mobile);
  width: 100vw;
  bottom: 0px;
  background-color: var(--bg-primary);
  transition: unset;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
}

.nav-link {
  display: block;
  max-height: 100%;
  align-items: center;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
}

.nav-item {
  height: 2.5rem;
}

.nav-item:nth-last-child(-n + 2) {
  display: none;
}

@media (min-width: 900px) {
  main {
    margin-left: var(--navbar);
    padding: 1rem;
  }

  footer {
    margin-left: var(--navbar);
    padding: 1rem;
  }

  .navbar {
    width: var(--navbar);
    height: 100vh;
    transition: none;
  }

  .navbar-nav {
    flex-direction: column;
    min-width: 3rem;
    height: unset;
    margin: 0 0;
    width: 100%;
  }

  .navbar:hover {
    width: var(--navbar-transition);
  }

  .navbar:hover .link-text {
    display: inline;
    animation: var(--transition-speed) ease 0.2s normal forwards 1 fadein;
  }

  @keyframes fadein {
    100% {
      opacity: 1;
    }
  }

  .nav-link {
    margin: 0 auto;
    height: 5rem;
    min-width: 3rem;
    width: 100%;
    display: flex;
  }

  .navbar img {
    margin-left: 1rem;
    width: 3rem;
  }

  .nav-item {
    height: unset;
    width: 100%;
    text-align: center;
  }

  .nav-item:nth-last-child(-n + 2) {
    display: block;
  }

  .nav-item:last-child {
    margin-top: auto;
  }

  .navbar-nav {
    height: 100%;
  }

  .navbar{
    transition: width var(--transition-speed) ease;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
}
